#emergent-badge {
    display: inline-flex !important;
    box-sizing: border-box;
    width: 178px;
    height: 40px;
    padding: 8px 12px 8px 12px;
    align-items: center !important;
    gap: 8px;
    border-radius: 50px !important;
    background: #000 !important;
    position: fixed !important;
    bottom: 16px;
    right: 16px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
    font-size: 12px !important;
    z-index: 9999 !important;
}